nav{
    width: 100wv;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
}

li{
}

a{
    text-decoration: none;
    color: rgb(73, 73, 73);
}

a:hover{
    text-decoration:underline;
}

footer{
    width: 100vw;
    border: 1px solid #e7e7e7;
    background-color: #f7f3f3
}

